<%= form_with(model: ledger, local: true) do |form| %>
  <% if ledger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ledger.errors.count, "error") %> prohibited this ledger from being saved:</h2>

      <ul>
      <% ledger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :ledger_year %>
  </div>

  <div class="field">
    <%= form.label :month %>
    <%= form.number_field :month, id: :ledger_month %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
